@import 'part:@sanity/base/theme/variables-style';

/* The fullscreen editor renders in a portal element */
.fullscreenPortal {
  /*
    NOTE: The reason for the double selector here, is to be able to override
    `@sanity/ui`’s CSS for the `Layer` component. Since `styled-components`
    applies class names to the element, we need to provide a more specific
    CSS selector to make sure this property is not overriden.
  */
  &.fullscreenPortal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media (--max-screen-medium) {
      position: fixed;
      top: 0;
    }
  }
}

.root {
  font-family: var(--block-editor-base-font-family);
}

.fullscreenButton {
  position: absolute !important;
  right: 0;
  border-radius: 2px;
  margin: 6px 3px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  height: 40px;
  width: 44px;

  @nest .fullscreenPortal & {
    padding: var(--small-padding);
  }
}

.fullscreenButton .svg-icon {
  width: 4em;
  height: 4em;
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -0.125em;
}

.editorWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 0;
  vertical-align: top;
  resize: vertical;
  overflow-y: auto;

  @nest .fullscreenPortal & {
    @media (--screen-medium) {
      max-width: calc(640px + var(--medium-padding) * 2);
    }

    @media (--screen-large) {
      max-width: calc(720px + var(--large-padding) * 2);
    }
  }
}
